.profile-custom-fields
  = render :partial => "settings/custom_fields/jump_number_fields", :locals => { :form => form }
  = render :partial => "settings/custom_fields/membership_association_fields", :locals => { :form => form }
  = render :partial => "settings/custom_fields/license_fields", :locals => { :form => form }
  = render :partial => "settings/custom_fields/rating_fields", :locals => { :form => form }
  = render :partial => "settings/custom_fields/profession_fields", :locals => { :form => form }
  = render :partial => "settings/custom_fields/discipline_fields", :locals => { :form => form }
  = render :partial => "settings/custom_fields/jumping_since_fields", :locals => { :form => form }
  = render :partial => "settings/custom_fields/dropzone_fields", :locals => { :form => form }